* {
    padding: 0;
    margin: 0;
}

body, div {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
}

#div1 {
    width: 500px;
    height: 500px;
    background-color: red;
}

#div2 {
    width: 250px;
    height: 250px;
    background-color: blue;
}

#div3 {
    width: 125px;
    height: 125px;
    background-color: yellow;
}