* {
    padding: 3;
    margin: 15;
    box-sizing: border-box;
}

body {
    display: flex;
    
    justify-content: flex-start;
    align-items:center;
    
}


.parent {
    width: 125px;
    height: 300px;
    border: 5px white  ;
  
}

.child{
    background-color: white;
    border: 1.5px solid black;
    
}