* {
    padding: 3;
    margin: 3;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
}


.parent {
    display: grid;
    row-gap: 25px;
    grid-template-columns: auto auto auto;
    background-color:white;
    padding: 10px;
    width: 1400px;
    height: 600px;
    border: 10px solid white;

}





.child{
    background-color: white;
    border: 2px solid black;
}