.container {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 300px;
    right: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: auto;
    
}




