

body {margin:5;}

.navbar {
  overflow: hidden;
  background-color: gray;
  position: fixed;
  top: 3px;
  width: 100%;
  
}


.header{
    display: flex;
    margin-right: 500px;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background:whitesmoke;
  color: slategray;
}

.main {
  display: flex;

  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 13px;
  margin-top: 75px;
  height: 1500px; 
}