div {
    width: 200px;
    height: 200px;
    background-color: red;

    animation-name: firstanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: reverse; 

    animation: firstanimation 5s infinite 2s ease reverse;

}


@keyframes firstanimation {
    0% {
        background-color: red;
        width: 200px;
    }

    20% {
        background-color: aqua;
        width: 300px;
    }

    40% {
       background-color: blue;
       width: 150px;
    }

    60% {
        background-color: chocolate;
        width: 400px;
    }

    80% {
        background-color: blueviolet;
        width: 350px;
    }

    100% {
        background-color: red;
        width: 200px;
    }
}